Styles for browsehappy screen */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*End Styled for browsehappy screen */

/*Site Wide Styles*/
h1{
  font-family: "Bitter";
  font-size: 5em;
  color : whitesmoke ;  
}

figure{
  margin: 0;
}

.jumbotron h1{
  font-family: "Bitter";
  color : whitesmoke;
}

h2{
  font-family: "Nunito";
  font-size: 3em;
  color : whitesmoke;
}

h3{
  font-family: "Nunito";
  color : whitesmoke;
}

p{
  font-size: .8em;
  color: whitesmoke; 
}

section {
  min-height:  627px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align : center;
  vertical-align : middle;
  background-size: cover;
  background-position: center center;
}

/*Background colors for sections if background-images do not load*/
  section:nth-of-type(even){background-color:rgb(80,90,90);}
  section:nth-of-type(odd){background-color:rgb(140,120,90); }

/*Jumbotron */
.jumbotron{  
  margin-left: 0%;
  margin-right: 0%;  
  background-color: rgba(0, 0, 0, 0.5);

}
/*End Site Wide Styles*/


/*Navigation Styles*/ 


/*Home Section Styles*/
#home{ background-image:  url(./images/apple-camera-desk-office-med.jpg);}
/*End Home Section Styles*/

/*Aboust Section Styles*/
#about{
  background-image: url(./images/macbook-back.jpg);
}

#about p{font-size : 2em; }

.about-text{ padding-top: 6.5%;}

/*Making about-image circular*/
.about-image{
  max-height: 36em;
  width : auto;
  padding: 0% 0% 0% 0%;
  float: left;
  border-radius : 5%;
}
/* End About Section Styles*/

/*Portfolio Section Styles*/
#portfolio{  background-image: url(./images/macbook-three-quater.jpg);}

/*End Portfolio Section Styles*/


/*Footer Section Styles */
/*Style footer navigation*/

footer{
  padding-left: 15px;
}

footer ul{
  padding : 0px;
}

footer li {
  /*        font-size: 1.5em;*/
  text-align: left;
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

/*Style copy right paragraph*/
footer p{
  font-size: 1em;
  /*        margin : 0 0 10px 40px;*/
  color : black;
}
/*End Footer Section Styles*/


/*We use bootstrap media queries for most of our responsive designs*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .jumbotron{  
      margin-left: 15%;
      margin-right: 15%;  
      background-color: rgba(0, 0, 0, 0.5);
    
    }

    figure{
      margin: 20px;
    }


    p{
      font-size: 1.5em;
      color: whitesmoke; 
    }

    /*Site Wide Styles*/
        section{
            /*background-attachment: fixed;*/
            min-height:  850px;
        }              
    /*End Site Wide Styles*/

        
    /*About Sectoin Styles*/
        #about p{
            text-align: left;
        }
    /*End About Sectoin Styles*/
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    /*Site Wide Styles*/
        h1{font-size : 5.5em;}

        .jumbotron h1{font-size : 5.5em;}

        h2{font-size : 3.2em;}       

        
    /*End Site Wide Styles*/
    
    /*About Sectoin Styles*/
       
    /*End About Sectoin Styles*/
}




   